*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
#background{
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: url("./../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hidden {
    display: none !important;
}

.showFlex{
    display: flex;
}

